!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AwsomeEvents
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.navbar.navbar-expand-sm.navbar-light.bg-light
      .container
        = link_to "awsome events" , root_path, class:"navbar-brand"
        
        %ul.navbar
        - if login?
          = link_to "ログアウト", :logout, class:"btn btn-primary", method: :delete, data:{confirm:"削除しますか？"} 
        - else
          = link_to "Githubでログイン", "auth/github", class: "nav-link", method: :post
    %ul.mt-5        
      %li.nav-item
      - if login?
        = link_to "イベントの作成", :new_event,class:"btn btn-primary"
                
  %div
    - if flash.notice
      .alert-success
        = flash.notice 
    = yield
    %footer
      = debug(params)